.App {
  text-align: center;
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 50px auto;
}

.increment {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.decrement {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.temp-display-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0;

}

.temp {
  background-color: grey;
  width: 100px;
  height: 100px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0;
  color: #ffff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  border: 3px solid white;
  cursor: pointer;
}

.temp-btn {
  background-color: grey;
  margin-top: 30px;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50%;
    cursor: pointer;
}